<openerp>
<data>

	<!--Top Menu-->
    <menuitem name="Netpro" id="netpro_menu" sequence="10" />

    <!--Dashboard-->
    <menuitem name="Dashboard" id="menu_netpro_dashboard" parent="netpro_menu"/>

    <!--Transactions-->
    <menuitem name="Transactions" id="menu_netpro_transaction" parent="netpro_menu"/>

    <!-- Configurations -->
    <menuitem name="Configurations" id="menu_netpro_configuration" parent="netpro_menu" sequence="20"/>

    <!-- DASHBOARD -->

    <!-- Actuary Transaction -->

	<menuitem name="Actuary" id="menu_netpro_actuary" parent="menu_netpro_transaction" sequence="5"/>
		<menuitem name="Product" id="menu_netpro_actuary_product" parent="menu_netpro_actuary" sequence="10"/>
			<menuitem name="Product Setting" action="action_netpro_product" id="menu_netpro_actuary_product_setting" parent="menu_netpro_actuary_product" sequence="10"/>
			<menuitem name="Product Plan" action="action_netpro_product_plan" id="menu_netpro_actuary_product_plan" parent="menu_netpro_actuary_product" sequence="20"/>
		    <!-- <menuitem name="Product Plan Base" id="menu_netpro_product_plan_base" action="action_netpro_product_plan_base" parent="menu_netpro_actuary_product"  sequence="300"/> -->

		<menuitem name="Loading" id="menu_netpro_actuary_loading" parent="menu_netpro_actuary" sequence="20"/>
		<menuitem name="Process" id="menu_netpro_actuary_process" parent="menu_netpro_actuary" sequence="30"/>

    <!-- Actuary Configurations -->

    <menuitem name="Actuary" id="menu_netpro_actuary_configuration" parent="menu_netpro_configuration" sequence="5"/>
		<menuitem name="Age Band" action="action_netpro_age_band" id="menu_netpro_actuary_age_band" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Benefit Setting" action="action_netpro_benefit" id="menu_netpro_actuary_benefit_setting" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Master Benefit Map" action="action_netpro_benefit_map" id="menu_netpro_actuary_benefit_map_setting" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Benefit Unit" action="action_netpro_benefit_unit" id="menu_netpro_actuary_benefit_unit" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Claim Document" id="menu_netpro_actuary_claim_document" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Default Limit" id="menu_netpro_default_limit" action="action_netpro_default_limit" parent="menu_netpro_actuary_configuration"  sequence="10"/>
		<menuitem name="Diagnosis" action="action_netpro_diagnosis" id="menu_netpro_actuary_diagnosis" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Email Rule" id="menu_netpro_actuary_email_rule" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Email Template" action="action_netpro_email_template" id="menu_netpro_actuary_email_template" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Existing Insurance" action="action_netpro_existing_insurance" id="menu_netpro_actuary_existing_insurance" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="GL Notes" action="action_netpro_gl_notes" id="menu_netpro_actuary_gl_notes" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Group Size" action="action_netpro_group_size" id="menu_netpro_actuary_group_size" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Holiday" action="action_netpro_holiday" id="menu_netpro_actuary_holiday" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="LOB" action="action_netpro_lob" id="menu_netpro_actuary_lob" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Membership" action="action_netpro_membership" id="menu_netpro_actuary_membership" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Membership Factor" action="action_netpro_membership_factor" id="menu_netpro_actuary_membership_factor" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Modal Factor" action="action_netpro_modal_factor" id="menu_netpro_actuary_modal_factor" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Number of Persons" id="menu_netpro_actuary_number_of_persons" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Occupation" id="menu_netpro_actuary_occupation" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Plan Rate Table" id="menu_netpro_actuary_plan_rate_table" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Policy Notes" id="menu_netpro_actuary_policy_notes" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Product Type" action="action_netpro_product_type" id="menu_netpro_actuary_product_type" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Product Type TC" id="menu_netpro_actuary_product_type_tc" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Reason" id="menu_netpro_actuary_reason" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="SMS Rule" id="menu_netpro_actuary_sms_rule" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="TC" id="menu_netpro_actuary_tc" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="Treatment" id="menu_netpro_actuary_treatment" parent="menu_netpro_actuary_configuration" sequence="10"/>
		<menuitem name="User Approval" id="menu_netpro_actuary_user_approval" parent="menu_netpro_actuary_configuration" sequence="10"/>

	    <menuitem name="Gender" id="menu_netpro_gender" action="action_netpro_gender" parent="menu_netpro_actuary_configuration"/>
	    
	    <menuitem name="Marital Status" id="menu_netpro_marital_status" action="action_netpro_marital_status" parent="menu_netpro_actuary_configuration"/>

	    <menuitem name="Reason" id="menu_netpro_reason" action="action_netpro_reason" parent="menu_netpro_actuary_configuration" />
	    <menuitem name="Province" id="menu_netpro_province" action="action_netpro_province" parent="menu_netpro_actuary_configuration" />
	    <menuitem name="Region" id="menu_netpro_region" action="action_netpro_region" parent="menu_netpro_actuary_configuration" />
	    <menuitem name="Religion" id="menu_netpro_religion" action="action_netpro_religion" parent="menu_netpro_actuary_configuration" />
	    <menuitem name="Salutation" id="menu_netpro_salutation" action="action_netpro_salutation" parent="menu_netpro_actuary_configuration" />
	    <menuitem name="Employment" id="menu_netpro_employment" action="action_netpro_employment" parent="menu_netpro_actuary_configuration" />
	    <menuitem name="Annual Income" id="menu_netpro_annual_income" action="action_netpro_annual_income" parent="menu_netpro_actuary_configuration" />

	    <!-- Provider -->
	    <menuitem name="Provider" id="menu_netpro_provider" action="action_netpro_provider" parent="menu_netpro_transaction"/>

	    <!-- Provider Configurations -->
	    <menuitem name="Provider" id="menu_netpro_provider_configuration" parent="menu_netpro_configuration" sequence="30"/>
		    
			<menuitem name="Profile" id="menu_netpro_profile" action="action_netpro_profile" parent="menu_netpro_provider_configuration" sequence="10"/>

		    <menuitem name="Provider Level" id="menu_netpro_provider_level" action="action_netpro_provider_level" parent="menu_netpro_provider_configuration" sequence="10"/>

		    <menuitem name="Provider Type" id="menu_netpro_provider_type" action="action_netpro_provider_type" parent="menu_netpro_provider_configuration" sequence="10"/>

		    <menuitem name="Provider EDC" id="menu_netpro_provider_edc" action="action_netpro_provider_edc" parent="menu_netpro_provider_configuration" sequence="10"/>

		    <menuitem name="Room" id="menu_netpro_room" action="action_netpro_room" parent="menu_netpro_provider_configuration" sequence="10"/>
</data>
</openerp>