<openerp>
	<data>

		<record id="action_course_list" model="ir.actions.act_window">
			<field name="name">Daftar Course</field>
			<field name="res_model">academic.course</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to add a Course
              </p>				
				<p>klik tombol create untuk bikin Course baru</p>
			</field>
		</record>

		<record id="action_session_list" model="ir.actions.act_window">
			<field name="name">Daftar Session</field>
			<field name="res_model">academic.session</field>
			<field name="view_mode">tree,form,calendar,gantt,graph,kanban</field>
			<field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to add a Session
              </p>				
				<p>klik tombol create untuk bikin Session baru</p>
			</field>
		</record>
		
		<record id="action_attendee_list" model="ir.actions.act_window">
			<field name="name">Daftar Attendee</field>
			<field name="res_model">academic.attendee</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to add an Attendee
              </p>				
				<p>klik tombol create untuk bikin Attendee baru</p>
			</field>
		</record>

        <record id="action_instructor_list" model="ir.actions.act_window">
            <field name="name">Instructors</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">res.partner</field>
            <field name="view_type">form</field>
            <field name="view_mode">kanban,tree,form</field>
            <field name="context">{"search_default_instructor":1}</field>
            <field name="search_view_id" ref="base.view_res_partner_filter"/>
            <field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to add an Instructor
              </p><p>
              	nambah instructor
              </p>
            </field>
        </record>		

		<menuitem id="academic_0" name="Academic" sequence="10"/>
		
		<menuitem id="academic_1" name="Academic" sequence="10" parent="academic_0"/>

		<menuitem id="academic_1_1"
		 action="action_course_list"
		 name="Course"
		 sequence="10"
		 parent="academic_1"/>

		<menuitem id="academic_1_2"
		 action="action_session_list"
		 name="Session"
		 sequence="20"
		 parent="academic_1"/>

		<menuitem id="academic_1_3"
		 action="action_attendee_list"
		 name="Attendees"
		 sequence="30"
		 parent="academic_1"/>

		<menuitem id="academic_1_4"
		 name="Instructor"
		 sequence="40"
		 parent="academic_1"/>

	    <menuitem id="academic_1_5" 
    	 parent="academic_1" name="Instructor" sequence="50" 
    	 action="action_instructor_list" />

	</data>
</openerp>