<openerp>
	<data>

        <!-- action window pr line -->    	
    	<record model="ir.actions.act_window" id="action_pr_line">
	        <field name="name">PR Items</field>
	        <field name="type">ir.actions.act_window</field>
	        <field name="res_model">purchase.requisition.line</field>
	        <field name="view_type">form</field>
	        <field name="view_mode">tree,form</field>
            <field name="domain">[('requisition_state','&lt;&gt;','draft')]</field>
            <field name="context">{'search_default_new_prline': 1}</field>
            <field name="search_view_id" ref="view_pr_line_search"/>
	    </record>

        <!-- action window po line -->    	
    	<record model="ir.actions.act_window" id="action_po_line">
	        <field name="name">PO Items</field>
	        <field name="type">ir.actions.act_window</field>
	        <field name="res_model">purchase.order.line</field>
	        <field name="view_type">form</field>
	        <field name="view_mode">tree,form</field>
            <field name="domain">[('state','=','draft')]</field>
            <field name="search_view_id" ref="view_po_line_search"/>
            <field name="view_id" ref="view_po_line_tree"/>
	    </record>


		<menuitem 
		    id="menu_pr_root"
		    sequence="10"
		    name="Requisition"
			/>
		<menuitem 
		    id="menu_pr_sub"
		    sequence="10"
		    parent="menu_pr_root"
		    name="Requisition"
			/>

	    <menuitem
	        id="menu_pr_mgt"
	        sequence="10"
		    name="Purchase Requisition"
	        parent="menu_pr_sub"
	        action="purchase_requisition.action_purchase_requisition"/>		

	    <menuitem
	        id="menu_pr_line_mgt"
	        sequence="20"
		    name="Requisition Lines"
            groups="purchase_requisition.group_purchase_requisition_manager"
	        parent="menu_pr_sub"
	        action="action_pr_line"/>	

	    <menuitem
	        id="menu_po_line_mgt"
	        sequence="20"
		    name="Order Lines"
	        parent="menu_pr_sub"
	        action="action_po_line"/>
	</data>
</openerp>
