<openerp>
	<data>
		<!-- action list master_gift -->
		<record id="action_master_gift_list" model="ir.actions.act_window">
			<field name="name">List Sale Gift</field>
			<field name="res_model">vit_sale_gift.master_gift</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
		      <p class="oe_view_nocontent_create">
		        Click to add a master gift
		      </p>				
				<p>Click create button to create new master gift</p>
			</field>
		</record>

		<!-- menu master_gift -->
		<menuitem id="master_gift"
			 action="action_master_gift_list"
			 name="Sale Gift"
			 sequence="200"
			 parent="base.menu_base_config"/>

	</data>
</openerp>