<openerp>
	<data>

        <!-- action window pr docs -->    	
    	<record model="ir.actions.act_window" id="action_product_request">
	        <field name="name">Product Request</field>
	        <field name="type">ir.actions.act_window</field>
	        <field name="res_model">vit.product.request</field>
	        <field name="view_type">form</field>
	        <field name="view_mode">tree,form</field>
            <field name="context">{"search_default_my_request":1}</field>
	    </record>

        <!-- action window pr lines -->    	
    	<record model="ir.actions.act_window" id="action_product_request_line">
	        <field name="name">Product Request Lines</field>
	        <field name="type">ir.actions.act_window</field>
	        <field name="res_model">vit.product.request.line</field>
	        <field name="view_type">form</field>
	        <field name="view_mode">tree,form</field>
            <field name="context">{"search_default_open":1, "search_default_group_by_product":1}</field>
	    </record>

		<menuitem 
		    id="menu_request_root"
		    sequence="10"
		    name="Product Request"
			/>
		<menuitem 
		    id="menu_request_sub"
		    sequence="10"
		    parent="menu_request_root"
		    name="Product Request"
			/>

	    <menuitem
	        id="menu_product_request"
	        sequence="10"
		    name="Product Request"
	        parent="menu_request_sub"
	        action="action_product_request"/>		
	    <menuitem
	        id="menu_product_request_line"
	        sequence="20"
		    name="Product Request Line"
	        parent="menu_request_sub"
	        action="action_product_request_line"/>		

<!-- 	    <menuitem
	        id="menu_pr_line_mgt"
	        sequence="20"
		    name="Requisition Lines"
            groups="purchase_requisition.group_purchase_requisition_manager"
	        parent="menu_pr_sub"
	        action="action_pr_line"/>	

	    <menuitem
	        id="menu_po_line_mgt"
	        sequence="20"
		    name="Order Lines"
	        parent="menu_pr_sub"
	        action="action_po_line"/> -->
	</data>
</openerp>
