<openerp>
<data>

	<!-- Provider Menu -->
	<menuitem name="Provider" id="menu_netpro_provider" action="action_netpro_provider" parent="vit_actuary.menu_netpro_transaction"/>

    <!-- Provider Configurations -->
    <menuitem name="Provider" id="menu_netpro_provider_configuration" parent="vit_actuary.menu_netpro_configuration" sequence="30"/>
	    
	    <menuitem name="Provider Profile" id="menu_netpro_profile_parent" parent="menu_netpro_provider_configuration" sequence="10"/>

		    <menuitem name="Profile" id="menu_netpro_profile" action="action_netpro_profile" parent="menu_netpro_profile_parent" sequence="10"/>

		    <menuitem name="Alias" id="menu_netpro_alias" action="action_netpro_alias" parent="menu_netpro_profile_parent" sequence="10"/>

	    <menuitem name="Provider Level" id="menu_netpro_provider_level" action="action_netpro_provider_level" parent="menu_netpro_provider_configuration" sequence="10"/>

	    <menuitem name="Provider Type" id="menu_netpro_provider_type" action="action_netpro_provider_type" parent="menu_netpro_provider_configuration" sequence="10"/>
	    
</data>
</openerp>
